body{
background-color:red;
border:15px solid white;
border-radius:50px;
margin-top:5px;
margin-right:10px;
margin-bottom:15px;
margin-left:20px;
margin:5px 10px 15px 20px;
padding:10px;
}

h1{
color:blue;
text-align:center;
text-align:right;
text-align:left;
text-decoration:line-through;
text-decoration:underline;
text-transform:uppercase;
text-transform:lowercase;
text-transform:capitalize;
word-spacing:10px;

}

ul{
list-style-type:none;
}

a:link{
text-decoratuon:none;
}

a:visited{
color:green;
}

a:hover{
texthdecoration:underline;
color:yellow;
}

div{
color:yellow;
border:3px solid white;
margin:5px;
}


.display{
display:inline-block;

}
